
.header {
    display: flex;
    justify-content: center;
}

body {
    display: grid;
    justify-content: center;
}


/* .container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(16,1fr);
    width: 600px;
    height: 600px;
} */

.container2 {
    
    display: grid;
    justify-content: center;
    /* grid-template-columns: repeat(16,1fr); */
    /* grid-template-columns: repeat(auto-fit, minmax(10px, auto));
    grid-template-rows: repeat(auto-fit, minmax(10px, auto)); */
    width: 600px;
    height: 600px;

}


/* #container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(16, auto);
} */



.square {
    width: auto;
    height: auto;
    background-color: black;
    margin: 0px;
    border: .25px solid white;
}

.greenSquare {

    width: 30px;
    height: 30px;
    background-color: green;
    margin: 0px;
    border: 1px solid white;
    
}